.container{
    text-align: center;
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    background-color: rgb(7, 7, 7);
    margin: auto;
    margin-top: 150px;
    padding-top: 1em;
    
}

body{
    background-color: black;
}

h1{
    color:white;
    font-family: 'Mulish', sans-serif;
}

button{
    height: 2.5em;
    width: 5.5em;
    border: none;
    color:rgb(77, 77, 77);
    background-color: black;
    transition: 0.4s;
    cursor: pointer;
}

button:hover{
    color: white;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    height: 260px;
    text-align: center;
    padding-top: 23%;
    padding-bottom: 30px;
    margin-left: 20px;
    color: white;
}

a{ 
    font-size: 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

i{
    font-size: 22px;
    margin-right: 5px;
}

@media screen and (max-width: 600px){

    button{
        color: white;
    }
    
    
    footer{
        padding-top: 60%;
    }

}
